.body {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.topNav {
    display: flex;
    background-color: grey;
    flex-basis: 100%;
    border: 1px solid black;
}

.main {
    display: flex;
    background-color: red;
    flex-basis: 100%;
}