.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  background: url(background.jpg) center no-repeat;
  background-size: cover;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App h1 {
  font-size: 40px;
}

.App h2 {
  font-size: 30px;
}

.googleLogin, .guestLogin {
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  max-width: 300px;
  font-size: 20px;
  background-color: slategray;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0); 
  box-shadow: 0 0 50px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.googleLogin:hover, .guestLogin:hover {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
